html,
body {
  scroll-behavior: smooth;
}
.card {
  border: none;
}

.card-title {
  font-style: normal;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.card-text {
  padding: 1rem;
}

.msg-card {
  height: 40vh;
  width: 70vw;
  margin: 20px;
}

.msg-wrap {
  position: absolute;
  margin: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.msg-block {
  position: relative;
  width: 70%;
}

.msg-text {
  margin-top: 1rem;
  padding: 1rem;
}

.msg-img {
  width: 12em;
  height: 12em;
  background-color: rgb(248, 255, 255);
  border-radius: 50%;
  box-shadow: 2.7px 2.9px 2.7px rgba(0, 0, 0, 0.022),
    6.8px 7.3px 6.9px rgba(0, 0, 0, 0.031),
    13.8px 14.9px 14.2px rgba(0, 0, 0, 0.039),
    28.5px 30.7px 29.2px rgba(0, 0, 0, 0.048),
    78px 84px 80px rgba(0, 0, 0, 0.07);
}

.who_block {
  padding: 10px;
}

.who {
  margin: 0% 0 0 14vw;
  min-height: 200px;
  width: 66vw;
  box-shadow: 1.7px 2.2px 33.6px -30px rgba(0, 0, 0, 0.064),
    4.1px 5.2px 55.7px -30px rgba(0, 0, 0, 0.083),
    7.8px 9.8px 66px -30px rgba(0, 0, 0, 0.091),
    13.8px 17.4px 68.6px -30px rgba(0, 0, 0, 0.096),
    25.9px 32.6px 81.1px -30px rgba(0, 0, 0, 0.102),
    62px 78px 136px -30px rgba(0, 0, 0, 0.13);
}

.who-design-left {
  position: absolute;
  display: block;
  height: 5vw;
  left: -10%;
  top: -10%;
}

.who-design-right {
  position: absolute;
  height: 5vw;
  right: -10%;
  top: -10%;
  transform: scaleX(-1);
  margin: 0;
}

.about-img-div {
  padding-left: 4%;
  height: 100%;
}

.about_image {
  margin-top: 4em;
  width: 100%;
  height: 100%;
}

.about-txt {
  display: flex;
  height: 100%;
  margin: 11% 0;
}

.about-body p {
  padding: 6%;
  text-align: center;
  overflow: hidden;
}

.what_we_do {
  margin-top: 5%;
}

.what_we_do_img {
  height: 95%;
  width: 95%;
}

.our_mission {
  margin-top: 6%;
}

@media (max-width: 768px) {
  .card-body {
    padding: 0;
    -top: 2.5em;
  }

  .about-txt {
    flex-direction: column;
  }

  .who-design-left {
    height: 15vw;
  }

  .who_block {
    padding: 0%;
  }

  .who {
    margin: 0% 0 0 11vw;
  }

  .who-design-right {
    height: 15vw;
  }

  .msg-card {
    height: auto;
    width: auto;
  }

  .msg-wrap {
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .mission {
    flex-direction: column-reverse;
  }

  .msg-block {
    height: 50%;
    width: 80%;
  }

  .msg-img {
    display: block;
    width: 12em;
    height: 12em;
  }

  .msg-card {
    margin: 20% 0% 0% 0%;
  }

  .msg-wrap {
    margin: 0%;
  }

  .about_image {
    margin-top: 0em;
    padding-top: 15%;
  }

  .about-txt {
    margin: 0%;
  }

  .who_block {
    margin-top: 20%;
  }

  .what_we_do {
    margin-top: 22%;
  }

  .about-body p {
    text-align: justify;
  }
}

@media (orientation: portrait) {
  .who-design-left {
    top: -2%;
    left: -25%;
  }

  .who-design-right {
    right: -25%;
    top: -2%;
  }

  .about-img {
    height: 70%;
    display: block;
  }

  .about-txt {
    display: flex;
    height: 70%;
  }
}

@media (min-width: 768px) and (max-width: 1354px) and (orientation: portrait) {
  .who-design-left {
    left: -15px;
    top: -15px;
  }

  .who-design-right {
    right: -15px;
    top: -15px;
  }
}

@media only screen and (max-width: 800px) {
  .about-body {
    margin: 0%;
    padding: 0%;
    font-weight: lighter;
  }
}

@media (min-width: 768px) {
  .about_image {
    height: 100%;
    zoom: 2;
    padding: 0;
    width: 100%;
  }
}

.about_us {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .about-img-div, .about-txt {
    margin-top: 8%;
    width: 100% !important;
  }
}
