html,
body {
  scroll-behavior: smooth;
}

.Past {
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
  padding-left: 5% !important;
  position: relative;
}

.Upcoming {
  white-space: nowrap;
  text-align: right;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
  position: relative;
}

.custom-btn {
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 8px 18px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-13 {
  background-color: #4285f4;
  background-image: linear-gradient(315deg, #4285f4 0%, #4285f4 74%);
  border: none;
  z-index: 1;
  height: 90%;
}

.btn-14 {
  border: 2px solid #4285f4;
  z-index: 1;
  height: 90%;
  color: black;
}

.btn-14:hover {
  color: #fff;
  background-image: linear-gradient(315deg, #4285f4 0%, #4285f4 74%);
}

.btn-13:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #4285f4;
  background-image: linear-gradient(315deg, #4285f4 0%, #4285f4 74%);
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}

.btn-13:hover {
  color: #fff;
}

.btn-13:hover:after {
  top: 0;
  height: 100%;
}

.btn-13:active {
  top: 2px;
}

.btn-14:active {
  top: 2px;
}

.content .title {
  font-size: 2em;
}

#Events {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 3.5em;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.4px;
  margin-top: 1.5em;
}

#Events span:nth-child(1) {
  font-weight: bolder;
}

#Worshops span:nth-child(1) {
  font-weight: bolder;
}

#Worshops {
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 3.5em;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.4px;
  margin-top: 2em !important;
}

.workshops_cards {
  margin-bottom: 0%;
}

.Line_2 {
  overflow: visible;
  position: absolute;
  width: 111.938px;
  height: 3.782px;
  left: 179.541px;
  top: 579.122px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_39 {
  opacity: 0.15;
  fill: rgba(239, 238, 238, 1);
}

.Path_39_ba {
  filter: drop-shadow(0px 7px 14px rgba(0, 0, 0, -6.349));
  transform: matrix(1, 0, 0, 1, 0, 0);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 55px;
  position: absolute;
  left: 0%;
  height: 92%;
  width: 75%;
}

.n_0_Days_Of_Google__Cloud_Prog_bb {
  padding: 0% 12%;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.05px;
  position: relative;
  width: 100%;
}

.event_name, .workshop_name {
  font-size: 18px;
}

.OPEN_bc {
  white-space: nowrap;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  color: rgba(4, 175, 239, 1);
  letter-spacing: 3px;
  position: relative;
  cursor: pointer;
  margin-top: 5%;
}

.OPEN_bc:hover {
  transform: scale(1.2);
  transition: 0.5s all linear;
}

.Line_2 {
  fill: transparent;
  stroke: rgba(4, 175, 239, 1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Line_2_bd {
  position: relative;
  padding: 0% 35%;
}

.n_0_days_of_Google_Cloud_Progr {
  filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.161));
  height: 350px;
  width: 100%;
  position: relative;
  padding: 20% 20% 10% 20%;
  cursor: pointer;
  border-radius: 40px;
}

.n_0_days_of_Google_Cloud_Progr:hover {
  transform: scale(1.1);
  transition: 0.5s all linear;
}

.submit_event_idea {
  margin-top: 10%;
  cursor: pointer;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(122, 206, 240, 0.5);
  width: 80px;
  height: 60px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: rgba(122, 206, 240, 0.5);
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.96);
}

.waves>path {
  -webkit-animation: a 17390ms ease-in-out infinite alternate-reverse both;
  -moz-animation: a 17390ms ease-in-out infinite alternate-reverse both;
  -ms-animation: a 17390ms ease-in-out infinite alternate-reverse both;
  -o-animation: a 17390ms ease-in-out infinite alternate-reverse both;
  animation: a 17390ms ease-in-out infinite alternate-reverse both;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0, 0.75, 1);
  -moz-animation-timing-function: cubic-bezier(0.25, 0, 0.75, 1);
  -ms-animation-timing-function: cubic-bezier(0.25, 0, 0.75, 1);
  -o-animation-timing-function: cubic-bezier(0.25, 0, 0.75, 1);
  animation-timing-function: cubic-bezier(0.25, 0, 0.75, 1);
  -webkit-will-change: transform;
  -moz-will-change: transform;
  -ms-will-change: transform;
  -o-will-change: transform;
  will-change: transform;
}

.waves>path:nth-of-type(1) {
  -webkit-animation-duration: 20580ms;
  -moz-animation-duration: 20580ms;
  -ms-animation-duration: 20580ms;
  -o-animation-duration: 20580ms;
  animation-duration: 20580ms;
}

.waves>path:nth-of-type(2) {
  -webkit-animation-delay: -2690ms;
  -moz-animation-delay: -2690ms;
  -ms-animation-delay: -2690ms;
  -o-animation-delay: -2690ms;
  animation-delay: -2690ms;
  -webkit-animation-duration: 13580ms;
  -moz-animation-duration: 13580ms;
  -ms-animation-duration: 13580ms;
  -o-animation-duration: 13580ms;
  animation-duration: 13580ms;
}

g>path:nth-of-type(1) {
  -webkit-animation-delay: -820ms;
  -moz-animation-delay: -820ms;
  -ms-animation-delay: -820ms;
  -o-animation-delay: -820ms;
  animation-delay: -820ms;
  -webkit-animation-duration: 10730ms;
  -moz-animation-duration: 10730ms;
  -ms-animation-duration: 10730ms;
  -o-animation-duration: 10730ms;
  animation-duration: 10730ms;
}

.waves>path:nth-of-type(1),
g>path:nth-of-type(2) {
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -ms-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes a {
  0% {
    -webkit-transform: translateX(-750px);
    transform: translateX(-750px);
  }

  100% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

@-moz-keyframes a {
  0% {
    -moz-transform: translateX(-750px);
    transform: translateX(-750px);
  }

  100% {
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

@-ms-keyframes a {
  0% {
    -ms-transform: translateX(-750px);
    transform: translateX(-750px);
  }

  100% {
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

@-o-keyframes a {
  0% {
    -o-transform: translateX(-750px);
    transform: translateX(-750px);
  }

  100% {
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

@keyframes a {
  0% {
    -webkit-transform: translateX(-750px);
    -moz-transform: translateX(-750px);
    -ms-transform: translateX(-750px);
    -o-transform: translateX(-750px);
    transform: translateX(-750px);
  }

  100% {
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
    transform: translatex(0px);
  }

  50% {
    transform: translatey(-30px);
    transform: translatex(20px);
  }

  100% {
    transform: translatey(0px);
    transform: translatex(0px);
  }
}

@-moz-keyframes float {
  0% {
    transform: translatey(0px);
    transform: translatex(0px);
  }

  50% {
    transform: translatey(-30px);
    transform: translatex(20px);
  }

  100% {
    transform: translatey(0px);
    transform: translatex(0px);
  }
}

@-o-keyframes float {
  0% {
    transform: translatey(0px);
    transform: translatex(0px);
  }

  50% {
    transform: translatey(-30px);
    transform: translatex(20px);
  }

  100% {
    transform: translatey(0px);
    transform: translatex(0px);
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
    transform: translatex(0px);
  }

  50% {
    transform: translatey(-30px);
    transform: translatex(20px);
  }

  100% {
    transform: translatey(0px);
    transform: translatex(0px);
  }
}

.pop-up {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
  -moz-transform: translate(-50%, -50%) scale(0.9);
  -ms-transform: translate(-50%, -50%) scale(0.9);
  -o-transform: translate(-50%, -50%) scale(0.9);
  transform: translate(-50%, -50%) scale(0.9);
  overflow-y: auto;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
  opacity: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  z-index: -10;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.content::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

.content::-webkit-scrollbar-track {
  background-color: #ececec;
  border-radius: 2px;
}

.content::-webkit-scrollbar-thumb {
  background-color: rgba(119, 119, 119, 0.3);
  border-radius: 2px;
}

@media (min-width: 768px) {
  .pop-up {
    width: calc(100% - 40px);
    height: auto;
    max-width: 650px;
  }
}

.pop-up .content {
  overflow: hidden;
  width: 100%;
  max-width: 900px;
  text-align: center;
  position: relative;
}

@media (min-width: 768px) {
  .pop-up .content .container {
    padding: 40px 0px 0px;
    max-width: 520px;
    margin: 0 auto;
  }
}

.pop-up .content .close {
  position: absolute;
  top: 20px;
  left: 20px;
  letter-spacing: 0.05rem;
  color: #3e4146;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.pop-up .content .close:hover {
  cursor: pointer;
  color: #f66867;
}

.pop-up .content .dots .dot {
  position: absolute;
  border-radius: 100%;
  z-index: 11;
}

.pop-up .content .dots .dot:nth-of-type(1) {
  top: -80px;
  right: -216px;
  width: 160px;
  height: 160px;
  background-color: #689bf6;
  -webkit-animation: float 6s ease-in-out infinite;
  -moz-animation: float 6s ease-in-out infinite;
  -o-animation: float 6s ease-in-out infinite;
  animation: float 6s ease-in-out infinite;
  z-index: -5;
}

@media (min-width: 768px) {
  .pop-up .content .dots .dot:nth-of-type(1) {
    top: -190px;
    right: -216px;
    width: 380px;
    height: 380px;
  }
}

.pop-up .content .dots .dot:nth-of-type(2) {
  bottom: -120px;
  left: -120px;
  width: 240px;
  height: 240px;
  background-color: #f66867;
  -webkit-animation: float 8s ease-in-out infinite;
  -moz-animation: float 8s ease-in-out infinite;
  -o-animation: float 8s ease-in-out infinite;
  animation: float 8s ease-in-out infinite;
  z-index: -5;
}

.pop-up .content .dots .dot:nth-of-type(3) {
  bottom: -50px;
  right: -50px;
  width: 100px;
  height: 100px;
  background-color: #ffd84c;
  -webkit-animation: float 4s ease-in-out infinite;
  -moz-animation: float 4s ease-in-out infinite;
  -o-animation: float 4s ease-in-out infinite;
  animation: float 4s ease-in-out infinite;
  z-index: -5;
}

.pop-up .content .title h1 {
  text-align: center;
  color: #2a81f3;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.05rem;
}

.pop-up .content img {
  width: 100%;
  max-width: 220px;
  display: inline-block;
  opacity: 0;
  -webkit-transform: translateX(60px);
  -moz-transform: translateX(60px);
  -ms-transform: translateX(60px);
  -o-transform: translateX(60px);
  transform: translateX(60px);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.pop-up .content .subscribe h1 {
  color: #3e4146;
  line-height: 130%;
  letter-spacing: 0.07rem;
  margin-bottom: 30px;
}

.pop-up .content .subscribe h1 span {
  color: #f66867;
}

.pop-up .content .subscribe form {
  overflow: hidden;
}

.pop-up.open {
  visibility: visible;
  opacity: 1;
  z-index: 200;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.pop-up.open img {
  opacity: 1;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

.btn- {
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #f0f0f7;
  background: #6c7ff2;
  background: linear-gradient(90deg,
      rgb(129, 190, 230) 0%,
      rgb(79, 161, 209) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgb(129, 190, 230);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 8px;
  margin: 5%;
}

.btn-:hover,
.btn-:focus {
  transform: translateY(-6px);
}

.btn-:hover::before,
.btn-:focus::before {
  opacity: 1;
}

.btn-::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid rgb(129, 190, 230);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }

  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.form__field {
  width: 90%;
  background: rgb(219, 226, 226);
  color: #161010;
  font: inherit;
  box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 500;
}

.form__field::placeholder {
  color: #443636;
  font-weight: 500;
}

.form {
  height: 22em;
}

.content .subscribe h4 {
  padding: 5% 0% 0% 0%;
}

@media only screen and (max-width: 800px) {

  .Upcoming,
  .Past {
    text-align: center;
    font-size: 1em;
  }

  #Upcoming_Events_Span,
  #Upcoming_Events_Span {
    padding-top: 6%;
    padding-bottom: 8%;
  }

  #Upcoming_Workshops_Span,
  #Upcoming_Workshops_Span {
    padding-top: 6%;
    padding-bottom: 8%;
  }

  .Upcoming_Workshops_Span,
  .Past_Workshops_Span {
    font-size: 0.8em;
  }

  .Rectangle_24 {
    width: 100%;
  }

  .Path_39_ba {
    margin: 0%;
    height: 430px;
    width: 100%;
  }

  .submit_event_idea {
    margin-top: 10%;
  }

  .n_0_days_of_Google_Cloud_Progr {
    padding: 10%;
    padding: 8%;
  }

  .img-date {
    padding-bottom: 15px;
  }

  .pop-up {
    width: 95%;
    top: 60%;
  }

  .pop-up .content img {
    max-width: 120px;
  }

  .pop-up .content {
    min-height: 0vh;
    height: 650px;
  }

  .pop-up {
    height: 80%;
  }

  .content {
    padding: 0%;
  }

  .pop-up .content .container {
    padding: 60px 0px 50px;
  }

  .pop-up .content .dots .dot:nth-of-type(1) {
    top: -100px;
    right: -80px;
  }

  .pop-up .content .dots .dot:nth-of-type(2) {
    bottom: -100px;
    left: -140px;
  }

  .pop-up .content .dots .dot:nth-of-type(3) {
    bottom: -40px;
  }

  .form {
    height: 40em;
  }

  #Events {
    margin-top: 20%;
  }

  .dots-div {
    display: none;
  }

  .content .title h1 {
    font-size: 0.8em;
  }

  .content .subscribe h4 {
    font-size: 1em;
    padding: 5% 0% 0% 0%;
  }

  .n_0_Days_Of_Google__Cloud_Prog_bb {
    padding: 0%;
  }

  .n_0_days_of_Google_Cloud_Progr {
    height: 280px;
    margin-bottom: 10%;
  }
}

@media only screen and (max-width: 400px) {
  .pop-up {
    height: 85%;
  }

  .pop-up .content .dots .dot:nth-of-type(2) {
    bottom: -160px;
    left: -140px;
  }

  .pop-up .content .dots .dot:nth-of-type(3) {
    bottom: -50px;
  }

  .Path_39_ba {
    margin: 0%;
    height: 440px;
    width: 100%;
  }

  /* Cards with date css*/
  .btm-10 {
    bottom: 10px;
  }

  .btm-11 {
    bottom: 11px;
  }

  .btm-13 {
    bottom: 13px;
  }

  .btm-18 {
    bottom: 18px;
  }
}

@media only screen and (max-width: 1200px) {
  .events_heading {
    margin-top: 20% !important;
  }
}
