*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-block: 2rem;
  gap: 2rem;
}

.events-container img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  cursor: pointer;
}

.events-card {
  display: flex;
  flex-direction: column;
  width: 95%;
  overflow: hidden;
  border-radius: 5px;
}

.events-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: justify;
  max-height: 23em;
  overflow: scroll;
}

.events-body::-webkit-scrollbar {
  width: 2px;
  height: 0px;
}

.events-body::-webkit-scrollbar-track {
  background-color: #ececec;
  border-radius: 2px;
}

.events-body::-webkit-scrollbar-thumb {
  background-color: rgba(119, 119, 119, 0.3);
  border-radius: 2px;
}

.events-header {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.25), 0 0px 1rem rgba(0, 0, 0, 0.22);
}

.up {
  max-height: 24em;
}

.events-header img {
  box-shadow: 0 2rem 5rem #ece9e6;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
}

@media (min-width: 768px) {
  .events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin-block: 2rem;
    gap: 2rem;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .events-image {
    transition: all 0.5s ease-in-out 0s;
    transform: scale(1);
    object-fit: cover;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .events-image:hover {
    transition: all 0.5s ease-in-out 0s;
    opacity: 0.9;
    transform: scale(1.05);
  }

  .events-card {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    padding: 1rem 6rem;
    gap: 3rem;
  }

  .events-main {
    width: 65%;
    overflow: hidden;
    padding: 0% 1%;
    display: flex;
    flex-direction: column;
  }

  .events-header {
    order: 1px solid;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 30%;
    padding: 2rem !important;
    box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.25), 0 0px 1rem rgba(0, 0, 0, 0.22);
  }
}

@media (max-width: 768px) {
  .events-body {
    max-height: 100%;
    overflow: visible;
  }

  .events-header {
    padding: 8%;
  }

  .span_headings {
    font-size: 2.5em !important;
  }
}

/*RSVP Button*/
/* From cssbuttons.io by @rhino-corey */
.rsvp-btn {
  display: inline-block;
  position: relative;
  color: #fff;
  font-weight: 900;
  font-size: 14px;
  font-style: italic;
  text-transform: uppercase;
  padding: 1em 4em;
  background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
  background-image: linear-gradient(45deg,
      #09c6f9 0%,
      #007bff 51%,
      #009ffd 100%);
  background-size: 800% 400%;
  animation: gradient 5s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
  text-decoration: none;
  text-align: center;
  border: none;
  clip-path: polygon(7% 0, 93% 0, 100% 50%, 93% 100%, 7% 100%, 0 50%);
  background-repeat: no-repeat;
  transition: background-position-y ease-in-out 250ms;
  transition: 0.5s;
  box-shadow: 0px 0px 14px -7px #007bff;
  width: 100%;
}

.rsvp-btn:hover {
  animation: gradient 3s infinite;
  transform: scale(1.05);
  background-position: right center;
}

.rsvp-btn:active {
  transform: scale(0.99);
  animation: gradient 3s infinite;
  transform: scale(0.8);
}

.rsvp-btn a:hover {
  color: #fff;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
