.bubbles {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    top: 0;
    left: 0;
}

.red {
    position: absolute;
    background: #db4437;
    opacity: 0.5;
    width: 40px;
    animation: rise 15s infinite ease-in;
    border-radius: 50%;
    width: 40px;
    bottom: -120rem;
}

.blue {
    position: absolute;
    background: #4285f4;
    opacity: 0.5;
    width: 40px;
    animation: rise 15s infinite ease-in;
    border-radius: 50%;
    width: 40px;
    bottom: -120rem;
}

.green {
    position: absolute;
    background: #0f9d58;
    opacity: 0.5;
    width: 40px;
    animation: rise 15s infinite ease-in;
    border-radius: 50%;
    width: 40px;
    bottom: -120rem;
}

.yellow {
    position: absolute;
    background: #f4b400;
    opacity: 0.5;
    width: 40px;
    animation: rise 15s infinite ease-in;
    border-radius: 50%;
    width: 40px;
    bottom: -120rem;
}

.bubble:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 20%;
    animation-duration: 12s;
}

.bubble:nth-child(2) {
    width: 60px;
    height: 60px;
    left: 40%;
    animation-duration: 8s;
    animation-delay: 2s;
}

.bubble:nth-child(3) {
    width: 50px;
    height: 50px;
    left: 60%;
    animation-duration: 10s;
    animation-delay: 4s;
}

.bubble:nth-child(4) {
    width: 30px;
    height: 30px;
    left: 80%;
    animation-duration: 18s;
    animation-delay: 0s;
}

.bubble:nth-child(5) {
    width: 35px;
    height: 35px;
    left: 30%;
    animation-duration: 10s;
    animation-delay: 2s;
}

.bubble:nth-child(6) {
    width: 45px;
    height: 45px;
    left: 88%;
    animation-duration: 12s;
    animation-delay: 3s;
}


@media only screen and (max-width: 800px) {

    .bubble:nth-child(3),
    .bubble:nth-child(4) {
        display: none;
    }


    .bubble:nth-child(1) {
        left: 30%;
    }

    .bubble:nth-child(2) {
        left: 50%;
    }

    .bubble:nth-child(5) {
        left: 40%;
    }

    .bubble:nth-child(6) {
        left: 90%;
    }

}

@keyframes rise {
    100% {
        bottom: 1080px;
        transform: translateX(-200px);
    }
}