@import url("https://fonts.googleapis.com/css?family=Inconsolata");

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.loader {
  border-top: 8px solid #4285f4;
  border-right: 8px solid #0f9d58;
  border-bottom: 8px solid #db4437;
  border-left: 8px solid #f4b400;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 2em auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.domain_example {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-top: -14px;
  line-height: 15px;
  color: blue;
}

textarea::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

textarea::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: #ececec;
  border-radius: 2px;
}

textarea::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: rgba(119, 119, 119, 0.3);
  border-radius: 2px;
}

.member-description {
  padding: 0em 6em;
  overflow: hidden;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.4px;
}

.animate-character {
  margin-top: 10rem;
  text-transform: capitalize;
  background-image: linear-gradient(-225deg,
      #4285f4 0%,
      #0f9d58 29%,
      #ee8379 67%,
      #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2.5s linear infinite;
  display: inline-block;
  font-weight: bold;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.stacks {
  display: flex;
  align-content: center;
  justify-content: center;
}

.-button {
  color: #101832;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.075em;
  margin: auto 2em;
  position: relative;
  align-self: center;
  text-transform: uppercase;
  border: 4px #4285f4 solid;
  border-image: linear-gradient(45deg, #4285f4 0%, #0f9d58 100%);
  border-image: conic-gradient(#0f9d58, #4285f4);

  border-image-slice: 1 1 0 0;
  z-index: 1;
  box-shadow: -0.5em 0.5em rgba(16, 24, 50, 0);
  transform-origin: left bottom;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;

  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 2500ms infinite;
  animation-play-state: paused;
}

.-button:before,
.-button:after {
  border: 4px #4285f4 solid;
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
}

.-button:before {
  border-image: linear-gradient(45deg, #4285f4 0%, #4285f4 100%);
  border-image: conic-gradient(#0f9d58, #0f9d58, #0f9d58, #4285f4);
  border-image: conic-gradient(#0f9d58, #4285f4);
  border-image: linear-gradient(45deg, #4285f4 0%, #0f9d58 100%);
  border-image: conic-gradient(#0f9d58, #4285f4);

  border-image-slice: 1 1 0 1;
  height: 116%;
  left: -0.8em;
  top: 0.08em;
  width: 0.8em;
  transform: skewY(-45deg);

  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;

  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 2500ms infinite;
  animation-play-state: paused;
}

.-button:after {
  border-image: linear-gradient(45deg, #4285f4 0%, #0f9d58 100%);
  border-image: conic-gradient(#0f9d58, #0f9d58, #0f9d58, #4285f4);
  border-image: conic-gradient(#0f9d58, #4285f4);

  border-image-slice: 1 1 1 0;
  bottom: -0.66em;
  right: 0.01em;
  width: 105%;
  height: 0.8em;
  transform: skewX(-45deg);
  box-sizing: border-box;
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 2500ms infinite;
  animation-play-state: paused;
}

.-button:hover {
  background-color: white;
  background-size: 100%;
  transform: translate(0.5em, -0.5em);
  box-shadow: -1em 1em 0.15em rgba(16, 24, 50, 0.1);
  animation-play-state: paused;
}

.-button:hover:before {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYmNkZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOTdkZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
  background-size: 0%;
  background-size: 100%;
  background-image: -moz-linear-gradient(45deg, #4285f4 0%, #4285f4 100%);
  background-image: -webkit-linear-gradient(45deg, #4285f4 0%, #4285f4 100%);
  background-image: linear-gradient(45deg, #4285f4 0%, #4285f4 100%);
  height: calc(114% - 0.13em);
  border-image-slice: 1;
  animation-play-state: paused;
}

.-button:hover:after {
  background-size: 100%;
  background-image: -moz-linear-gradient(45deg, #4285f4 0%, #0f9d58 100%);
  background-image: -webkit-linear-gradient(45deg, #4285f4 0%, #0f9d58 100%);
  background-image: linear-gradient(45deg, #4285f4 0%, #0f9d58 100%);
  width: calc(103% - 0.13em);
  border-image-slice: 1;
  animation-play-state: paused;
}

@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}

.ml-domain {
  padding: 0.8em 2.5em;
}

.web-domain {
  padding: 0.8em 2.6em;
}

.ai-domain {
  padding: 0.8em 1em;
}

.cloud-domain {
  padding: 0.8em 2.5em;
}

.dsacp-domain {
  padding: 0.8em 5.5em;
}

.android-domain {
  padding: 0.8em 1.3em;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.contents {
  margin-top: 6.5em;
}

.content-item {
  width: 100%;
  height: 100%;
  color: #fff;
  margin-bottom: 6em;
}

.content-item::before {
  color: var(--color-number);
  position: absolute;
  top: 0;
  left: 0;
}

/*COUNTERS #FIXME:*/
.counts {
  margin: -20px;
  background: linear-gradient(90deg,
      rgba(70, 192, 249, 0.5) 0%,
      rgba(70, 192, 249, 0.5) 100%);
  background-image: linear-gradient(45deg,
      #3aacee 0%,
      #3aacee 51%,
      #3aacee 100%);
  background-image: linear-gradient(45deg,
      #2eb62c 0%,
      #57c84d 51%,
      #83d475 100%);
  padding: 40px 0 30px 0;
  margin-top: 6em;
}

.counts .counters span {
  display: block;
  font-weight: 600;
  font-size: 2em;
  color: #000;
  color: white;
}

.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  color: #000;
  color: white;
}

.all-divs {
  line-height: 30px;
  letter-spacing: 0.4px;
  overflow: hidden;
  width: 100%;
}

.all-divs p {
  margin-top: 1.3rem;
}

.other-btns {
  background-image: linear-gradient(45deg,
      #09c6f9 0%,
      #007bff 51%,
      #009ffd 100%);
  pointer-events: auto;
  cursor: pointer;
  border: none;
  padding: 6px 30px;
  position: relative;
  transition: 0.5s;
  box-shadow: 0px 0px 14px -7px #007bff;
  border: 0px;
  background-size: 200% auto;
  color: white;
  border-radius: 8px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.other-btns:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  transform: translateY(-2px);
}

.other-btns-link {
  font-weight: 500;
}

.other-btns-link:hover {
  color: #fff;
}

.other-btns:active {
  transform: scale(0.95);
}

.btn-section {
  margin: 2em 0 4em 0;
}

/*TODO: submit blog btn*/
.submit-blog-btn {
  background-color: #34a853;
  background-image: radial-gradient(200% 70% at center 20%,
      rgba(48, 44, 45, 1) -30%,
      rgba(50, 46, 47, 1) 49%,
      rgba(22, 18, 19, 1) 50%,
      rgba(22, 18, 19, 1) 150%);
  background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
  background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
  background-image: linear-gradient(45deg,
      #09c6f9 0%,
      #007bff 51%,
      #009ffd 100%);
  background-size: 800% 400%;
  transition: all 0.5s ease-in-out;
  animation: gradient 5s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
  text-decoration: none;
  text-align: center;
  border: none;
  clip-path: polygon(7% 0, 93% 0, 100% 50%, 93% 100%, 7% 100%, 0 50%);
  background-repeat: no-repeat;
  transition: background-position-y ease-in-out 250ms;
  transition: 0.5s;
  box-shadow: 0px 0px 14px -7px #007bff;
}

.submit-blog-btn:hover {
  animation: gradient 3s infinite;
  transform: scale(1.05);
  background-position: right center;
}

.submit-blog-btn:active {
  transform: scale(0.99);
  animation: gradient 3s infinite;
  transform: scale(0.8);
}

.new-svgs img {
  width: 20rem;
  height: 20rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.popup {
  top: -140% !important;
}

.form__fields {
  margin: 4%;
}

.domain_select {
  margin: 4%;
  padding: 14px 18px !important;
}

.home_form {
  height: 50em !important;
}

.-content {
  height: 100% !important;
}

/** EVENTS **/
.home-svg>img {
  width: 100%;
  height: 100%;
  margin-left: 10%;
}

.home-headings {
  font-weight: bold;
}

@media only screen and (min-width: 769px) {
  .all-divs {
    width: 50%;
  }

  .events {
    margin-top: 5rem;
  }
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
  border: none;
  background: transparent;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(122, 206, 240, 0.5);
  width: 80px;
  height: 60px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: rgba(122, 206, 240, 0.5);
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.96);
}

.submitblogbtn {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .column {
    display: block;
    width: 100%;
    text-align: center;
  }

  .member-description {
    padding: 0% 2%;
    line-height: 2rem;
  }

  .heading-text {
    padding: 0%;
    margin: 0%;
  }

  .events {
    max-width: 360px;
    display: block;
  }

  .events .card {
    height: 400px;
  }

  .animate-character {
    margin-top: 1rem;
  }

  .popup {
    top: -150% !important;
    height: 54em !important;
  }

  .-content {
    height: 54em !important;
  }

  .domain_example {
    font-size: 14px;
  }

  .home-svg,
  .home-svg img {
    padding: 0%;
    margin: 0%;
  }
}

/* #FIXME:*/
.dots .dot {
  position: absolute;
  border-radius: 100%;
  z-index: 11;
  width: 200px;
  height: 200px;
}

.dots .dot:nth-of-type(1) {
  top: -6em;
  right: -4em;
  background-color: #689bf6;
  -webkit-animation: float 6s ease-in-out infinite;
  -moz-animation: float 6s ease-in-out infinite;
  -o-animation: float 6s ease-in-out infinite;
  animation: float 6s ease-in-out infinite;
  z-index: -5;
}

.dots .dot:nth-of-type(2) {
  bottom: -6em;
  left: -6em;
  background-color: #f66867;
  animation: float 8s ease-in-out infinite;
  -webkit-animation: float 8s ease-in-out infinite;
  -moz-animation: float 8s ease-in-out infinite;
  -o-animation: float 8s ease-in-out infinite;
  z-index: 5;
}

.dots .dot:nth-of-type(3) {
  bottom: -90em;
  right: -4em;
  background-color: #ffd84c;
  animation: float 4s ease-in-out infinite;
  -webkit-animation: float 4s ease-in-out infinite;
  -moz-animation: float 4s ease-in-out infinite;
  -o-animation: float 4s ease-in-out infinite;
  z-index: -5;
}

.dots .dot:nth-of-type(4) {
  bottom: -90em;
  left: -6em;
  background-color: #34a853;
  animation: float 8s ease-in-out infinite;
  -webkit-animation: float 5s ease-in-out infinite;
  -moz-animation: float 5s ease-in-out infinite;
  -o-animation: float 5s ease-in-out infinite;
  z-index: -5;
}

.dots .dot:nth-of-type(5) {
  bottom: -145em;
  right: -6em;
  background-color: #689bf6;
  -webkit-animation: float 6s ease-in-out infinite;
  -moz-animation: float 6s ease-in-out infinite;
  -o-animation: float 6s ease-in-out infinite;
  animation: float 4s ease-in-out infinite;
  z-index: -5;
}

.dots .dot:nth-of-type(6) {
  bottom: -145em;
  left: -7em;
  background-color: #f66867;
  -webkit-animation: float 6s ease-in-out infinite;
  -moz-animation: float 6s ease-in-out infinite;
  -o-animation: float 6s ease-in-out infinite;
  animation: float 4s ease-in-out infinite;
  z-index: -5;
}

.cursor-pointer {
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .dots .dot {
    width: 80px;
    height: 80px;
  }

  .dots .dot:nth-of-type(1) {
    top: 2em;
    right: -2em;
    z-index: 5;
  }

  .dots .dot:nth-of-type(2) {
    bottom: -2em;
    left: -3em;
    z-index: -5;
  }

  .dots .dot:nth-of-type(3) {
    bottom: -85em;
    right: -2.5rem;
  }

  .dots .dot:nth-of-type(4) {
    bottom: -115em;
    left: -3.8em;
  }

  .dots .dot:nth-of-type(5) {
    bottom: -138em;
    right: -2.5rem;
  }

  .dots .dot:nth-of-type(6) {
    bottom: -185em;
    left: -3.8em;
  }

  .contents {
    margin-top: 3.5em;
  }

  .counts {
    margin-top: 6em;
  }

  .team-home-headings {
    margin-top: 2.5em;
  }

  .member-description {
    padding: 2%;
  }
}

/*** Community ***/
.gdsc-revolve {
  margin-top: 6rem;
}

.stacks {
  margin-top: 3rem;
}

.stack-name {
  text-align: center;
  padding: 1rem 0;
}

.stack-name span {
  text-decoration: none;
  font-weight: 700;
}

@media (max-width: 769px) {
  .stacks {
    margin-top: 0;
  }
}

@media only screen and (max-width: 800px) {
  #Events {
    margin-top: 2em;
  }

  .dots-div {
    display: none;
  }

  .content .title h1 {
    font-size: 0.8em;
  }

  .content .subscribe h4 {
    font-size: 1em;
    padding: 0% 10%;
  }
}

@media only screen and (max-width: 400px) {
  .Path_39_ba {
    margin: 0%;
    height: 380px;
    width: 100%;
  }
}