/* #FIXME: */
footer {
  background: #f8f7f7;
  color: white;
  margin-top: 20px;
}

.heading-1 {
  color: #db4437;
}

.heading-2 {
  color: #f4b400;
}

.heading-3 {
  color: #0f9d58;
}

.heading-4 {
  color: #4285f4;
}

/* #FIXME: */

footer a {
  color: #fff;
  color: black;
  transition-duration: 0.2s;
}

.teams_div {
  box-sizing: border-box;
  margin: 0% 10%;
}

.footer-pad a::after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.footer-pad a:hover:after {
  width: 25%;
}

.gored a:hover:after {
  background-color: #db4437;
}

.goorange a:hover:after {
  background-color: #f4b400;
}

.gogreen a:hover:after {
  background-color: #0f9d58;
}

.goblue a:hover:after {
  background-color: #4285f4;
}

.gowhite a:hover:after {
  background-color: #fff;
}

footer a:hover {
  color: #fa944b;
  text-decoration: none;
}

.copy {
  border-top: 1px solid #ffffff;
}

.footer-middle {
  color: white;
  color: black;
}

ul.social-network {
  display: inline;
  margin: 0px 0px;
  padding: 0px;
  text-align: center;
  background-color: #f8f7f7;
}

ul.social-network li {
  display: inline;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: 2em;
  padding: 0em 10%;
}

.social-circle li a {
  margin: 0 auto 0 auto;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: block;
  border-radius: 30px;
  background-color: #f8f7f7;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i {
  transform: scale(1.1);
  border-radius: 34px;
}

.social-circle i {
  color: red;
  color: #007bb7;
  color: #fff;
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #ffffff;
}

.social-network a.icoLinkedin:hover i {
  color: #007bb7;
}

.social-network a.icoEnvelope:hover i {
  color: #fbbc05;
}

.social-network a.icoInstagram:hover i {
  color: #bc2a8d;
}

.social-network a.icoYoutube:hover i {
  color: #ff0000;
}

/* GDG BANNER*/
.divider {
  display: flex;
}

.divider:before,
.divider:after {
  content: "";
  flex: 1;
}

.donotcross {
  overflow: hidden;
  align-items: center;
  background-color: white;
  background: linear-gradient(30deg, #ea4335, #fbbc04, #4285f4, #34a853);
  background: linear-gradient(30deg, #ea4335, #fbbc04, #34a853, #4285f4);
  color: black;
  color: white;
  font-weight: 700;
}

.donotcross:before,
.donotcross:after {
  background: white;
  padding: 5px 0;
  transform: rotate(45deg);
}

.gotopbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #2196f3;
  bottom: 30px;
  right: 30px;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  line-height: 50px;
  color: white;
  border-radius: 50%;
  z-index: 99;
  border: none;
}

.gotopbtn:hover {
  background: #4285f4;
}

.scroll-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
}

.Gdsc-Logo {
  width: 64%;
  margin-left: -15%;
}

.list-unstyled li {
  margin: 2% 0%;
  padding: 0%;
}

.gdsc-logo-list a {
  padding-left: 25%;
}

@media (max-width: 320px) {
  .gotopbtn {
    left: calc(80vw - 10px);
    top: calc(90vh - 10px);
  }
}

@media (max-width: 800px) {
  .follow-us {
    text-align: center;
    margin-top: 20px;
  }

  .heading-1 {
    text-align: center;
  }

  .gdsc-logo-list {
    text-align: center;
  }

  .donotcross {
    margin-top: 10px;
    text-align: center;
  }

  .Gdsc-Logo {
    width: 80%;
    margin: 0%;
  }

  .list-unstyled li {
    padding-left: 6%;
  }

  .quick-links-li {
    padding-left: 16% !important;
  }

  .gdsc-logo-list a {
    padding-left: 0%;
  }

  ul.social-network li {
    margin: 0 10px;
    padding: 0%;
  }

  .teams_div {
    margin: 0%;
  }
}
