*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#Navbar {
  margin-top: -4px;
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-block: 2rem;
  gap: 2rem;
}

.blog-container img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.blog-card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card__header {
  overflow: hidden;
}

.tag {
  align-self: flex-start;
  padding: 0.25em 0.75em;
  border-radius: 1em;
}

.tag+.tag {
  margin-left: 0.5em;
}

.tag-blue {
  background: linear-gradient(to bottom, #2f80ed, #56ccf2);
  background-color: #007bff;

  color: #fafafa;
}

.tag-brown {
  background: #fbbc05;
  background: linear-gradient(to bottom, #fbbc05 #ffd194);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.tag-green {
  background: #34a853;
  background: linear-gradient(to bottom, #34a853, #81c784);
  color: #fafafa;
}

.card__body h4 {
  text-transform: capitalize;
}

.card__image {
  cursor: pointer;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: 0.5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info>small {
  color: #666;
}

.technical_btn {
  height: 2.5em;
  width: 8em;
  font-family: "Google Sans";
  cursor: pointer;
  border: none;
  background: transparent;
  font-weight: 600;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
  overflow: hidden;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.technical_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  z-index: -1;
  transition: all 0.5s;
}

.red_btn::before {
  background-color: #f44336;
}

.green_btn::before {
  background-color: #4caf50;
}

.technical_btn:hover {
  color: #ffffff;
}

.technical_btn:hover::before {
  width: 100%;
}

.technical_btn:active:before {
  background: #b9b9b9;
}

.red_btn:focus {
  background-color: #f44336;
  color: #fff;
}

.green_btn:focus {
  background-color: #4caf50;
  color: #fff;
}

.no_non_technical {
  margin-bottom: 6em;
}

@media (min-width: 768px) {
  .blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin-block: 2rem;
    gap: 2rem;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .card__header {
    overflow: hidden;
  }

  .card__image {
    min-width: 100%;
    height: 20em;
    width: 50vw;
    transition: all 0.5s ease-in-out 0s;
    transform: scale(1);
    object-fit: cover;
  }

  .card__image:hover {
    transition: all 0.5s ease-in-out 0s;
    opacity: 0.9;
    transform: scale(1.05);
  }

  .blog-card {
    display: flex;
    flex-direction: row;
    width: 65%;
    height: 20em;
    overflow: hidden;
    border-radius: 5px;
  }

  .card_main {
    max-width: 54%;
  }

  .card__header {
    max-width: 46%;
  }
}

@media (max-width: 768px) {
  .no_non_technical {
    margin-bottom: 0em;
  }
}

.post-img {
  height: 400px;
  overflow: hidden;
}

.post-img img {
  width: 100%;
}

.blog-post-content p {
  font-size: 18px;
}

.blog-post-content h1 {
  text-align: center;
}

.row {
  display: flex;
}

.more-post {
  flex-direction: column;
  align-items: center;
}

.blogpost-meta {
  display: flex;
  justify-content: space-between;
}

.author-info {
  margin: 12px 0;
}

.author-info div {
  padding: 4px 0px;
  font-family: var(--font2);
}

.social {
  padding-right: 53px;
  align-self: center;
  cursor: pointer;
}

.author-name {
  font-style: italic;
  font-weight: bold;
  color: #242b2e;
}

@media (max-width: 1200px) { 
  .blogs_heading {
    margin-top: 20% !important;
  }
}
