.blogs-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 4%;
}

.blogs-main {
  padding: 1em;
  width: 70%;
}

.blogs-body::-webkit-scrollbar {
  width: 2px;
  height: 0px;
}

.blogs-body::-webkit-scrollbar-track {
  background-color: #ececec;
  border-radius: 2px;
}

.blogs-body::-webkit-scrollbar-thumb {
  background-color: rgba(119, 119, 119, 0.3);
  border-radius: 2px;
}

.blog-mail {
  color: #fbbc05;
}

.blogs-header {
  width: 53%;
  height: 30em;
}

.blogs-header a {
  width: 100%;
}

.blogs-image {
  height: 26em;
  object-fit: inherit !important;
}

@media (min-width: 768px) {
  .blogs-card {
    flex-direction: column;
    justify-self: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    padding: 1rem;
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .blogs-body {
    overflow: visible;
  }

  .blogs-main {
    width: 100%;
  }

  .blogs-header {
    width: 100%;
    height: inherit;
  }

  .blogs-image {
    height: inherit;
  }
}
