@font-face {
  font-family: "Google Sans";
  src: url("./fonts/GoogleSans-Regular.eot");
  src: url("./fonts/GoogleSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/GoogleSans-Regular.woff2") format("woff2"),
    url("./fonts/GoogleSans-Regular.woff") format("woff"),
    url("./fonts/GoogleSans-Regular.ttf") format("truetype"),
    url("./fonts/GoogleSans-Regular.svg#GoogleSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans";
  font-weight: normal;
  font-style: normal;
}

/* Domino  */
.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.artboard {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
}

.domino > div {
  border-radius: 8px;
  display: inline-flex;
  transform: rotate(45deg);
  width: 30px;
  height: 30px;
  -webkit-animation: domino-effect 2.4s infinite ease-in-out;
  animation: domino-effect 2.4s infinite ease-in-out;
}

.domino > div:nth-child(1) {
  background: #4285f4;
}

.domino > div:nth-child(1):after {
  background: #4285f4;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.domino > div:nth-child(2) {
  background: #db4437;
}

.domino > div:nth-child(2):after {
  background: #db4437;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.domino > div:nth-child(3) {
  background: #0f9d58;
}

.domino > div:nth-child(3):after {
  background: #0f9d58;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

.domino > div:nth-child(4) {
  background: #f4b400;
}

.domino > div:nth-child(4):after {
  background: #f4b400;
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s;
}

.domino > div:nth-child(5) {
  background: #4285f4;
}

.domino > div:nth-child(5):after {
  background: #4285f4;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.domino > div:nth-child(1) {
  margin: 15px;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.domino > div:nth-child(2) {
  margin: 15px;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.domino > div:nth-child(3) {
  margin: 15px;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

.domino > div:nth-child(4) {
  margin: 15px;
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s;
}

.domino > div:nth-child(5) {
  margin: 15px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.domino > div:after {
  content: "";
  position: relative;
  top: 0px;
  left: -45px;
  opacity: 0;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  -webkit-animation: illusion 2.4s infinite ease-in-out;
  animation: illusion 2.4s infinite ease-in-out;
}

@-webkit-keyframes beat {
  to {
    transform: scale(1.4);
  }
}

@keyframes beat {
  to {
    transform: scale(1.4);
  }
}

@-webkit-keyframes spin {
  to {
    transform: rotate(140deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(140deg);
  }
}

@-webkit-keyframes domino-effect {
  20%,
  100% {
    transform: rotate(135deg);
  }
}

@keyframes domino-effect {
  20%,
  100% {
    transform: rotate(135deg);
  }
}

@-webkit-keyframes illusion {
  0%,
  25% {
    opacity: 1;
  }

  26.10%,
  33.33%,
  100% {
    opacity: 0;
  }
}

@keyframes illusion {
  0%,
  25% {
    opacity: 1;
  }

  26.10%,
  33.33%,
  100% {
    opacity: 0;
  }
}
